@charset "UTF-8";

/* Fonte Bebas Neue do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fonte externa idroid */
@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #C5EBD6;    
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Android', sans-serif;
} 

a.external::after {
    content: '\1F517';
    color: black;
}
a.external:hover {
    text-decoration: underline;
    color: var(--cor3);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EBE5C5;
    font-family: var(--font0);
}

header {
    color: white;
    background-image: linear-gradient(to bottom,var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
     font-size: 3em;
     font-family: var(--font1);
     font-weight: normal;
     margin-bottom: 20px;
     text-shadow: 2px 1px 1px rgb(0 0 0 / 47%);
} 

header > p {
    font-family: var(--font0);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 1px 1px rgb(0 0 0 / 47%);
}


nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.185);

}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    transition: 0.5s;
}

nav > a:hover {
    color: var(--cor4);
    background-color: var(--cor1);
    border-radius: 5px;
    
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 4px 1px #6462565b; 
}

main p {
    font-family: var(--font0);
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8em;
    margin: 15px 0px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
}


main  h1 {
    color: var(--cor5);
    font-family: var(--font2);
    font-weight: normal;
}

main  h2 {
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding-left: 10px;
    margin: 20px 0px;
    font-family: var(--font2);
    font-weight: normal;
}


aside {
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.295);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    padding: 10px;
}


aside > ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

aside > div > p, aside > div > ul {
    margin-bottom: 12px;
} 

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 0.8em;
}


footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color:  var(--cor1);
    text-decoration: underline;
}




img {
    width: 100%;
}

img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}



div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
